<h3 class="information-title">Data Point Information</h3>
<div class="information">
    <div><strong>Latitude</strong>: {{ point.latitude }}</div>
    <div><strong>Longitude</strong>: {{ point.longitude }}</div>
</div>

{#
<h3 class="actions-title">Actions</h3>
{% if not app.user %}
<p style="margin: 0 0 2px;">You must be <a class="login" href="#">logged in</a>.</p>
{% endif %}
{% if subscription %}
<ul>
    <li>
        <span class="subscribed">
            <span class="message">Subscribed to notifications when severity level reaches or surpasses:<br />
                <span class="dsv-threshold dsv-{{ subscription.threshold }}"><span></span>{{ subscription.getPrettyThreshold }}</span> <span>(<a class="unsubscribe" href="#">unsubscribe</a>)</span>
            </span>
        </span>
    </li>
</ul>
{% else %}
<input type="button" class="actions-subscribe button{% if not app.user %} disabled{% endif %}" value="Subscribe to Notifications" {% if not app.user %}disabled="disabled"{% endif %} />
{% endif %}
#}

<h3 class="weather-details-title">Weather Summary</h3>
<div class="weather-details">
    {% if weather %}
    {% set dsvTotal = 0 %}
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>DSV <span class="weather-details-dsv more-information">?</span></th>
                <th>Mean temp.</th>
                <th>Hours over RH <span class="weather-details-rh more-information">?</span> threshold</th>
            </tr>
        </thead>
        <tbody>
        {% for day in weather %}
            {% set dsvTotal = dsvTotal + day.dsv %}
            <tr>
                <td class="odd">{{ day.time|date('n/j/Y') }}</td>
                <td>{{ day.dsv }}</td>
                <td class="odd">{{ day.meanTemperature|round(1) }}&deg;C</td>
                <td>{{ day.leafWettingTime }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total:</th>
                <td colspan="3"><strong>{{ dsvTotal }}</strong></td>
            </tr>
        </tfoot>
    </table>
    {% else %}
    <p style="text-align: center;">No data to display.</p>
    {% endif %}
</div>
