{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="http://fonts.googleapis.com/css?family=Caudex:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% stylesheets filter='?uglifycss'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/normalize.css/normalize.css'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/pikaday/css/pikaday.css'
    '@PlantPathVDIFNBundle/Resources/public/css/common.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}{% endblock %}

{% block javascripts %}{% javascripts
    '@FOSJsRoutingBundle/Resources/public/js/router.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor={{ parameters.google_maps.sensor }}"></script>
{% javascripts filter='?uglifyjs2'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/google-maps-utility-library-v3/infobox/src/infobox.js'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/sugar/release/sugar.min.js'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/momentjs/min/moment.min.js'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/superagent/superagent.js'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/pikaday/pikaday.js'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/form-serialize/index.js'
    '@PlantPathVDIFNBundle/Resources/public/bower-components/async/lib/async.js'
    '@PlantPathVDIFNBundle/Resources/public/js/compat.js'
    '@PlantPathVDIFNBundle/Resources/public/js/vdifn.js'
    '@PlantPathVDIFNBundle/Resources/public/js/vdifn.util.js'
    '@PlantPathVDIFNBundle/Resources/public/js/vdifn.db.js'
    '@PlantPathVDIFNBundle/Resources/public/js/vdifn.map.js'
    '@PlantPathVDIFNBundle/Resources/public/js/vdifn.datepicker.js'
    '@PlantPathVDIFNBundle/Resources/public/js/vdifn.interface.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    <script>
        vdifn.parameters = {{ parameters|json_encode|raw }};
        vdifn.parameters.static_path = "{{ asset('bundles/plantpathvdifn') }}";
        vdifn.latest_date = Date.create('{{ latest.time|date('Y-m-d') }}');
        vdifn.logged_in = {% if app.user %}true{% else %}false{% endif %};
    </script>
{% javascripts filter='?uglifyjs2'
    '@PlantPathVDIFNBundle/Resources/public/js/init.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}{% endblock %}

{% block body %}
    <div id="loading-overlay" class="overlay">
        <div id="loading" class="message">
            <div>
                <ul class="loading-icon">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="loading-text">Please wait...</div>
            </div>
        </div>
    </div>
    <div id="error-overlay" class="overlay">
        <div id="error" class="message">
            <div>
                <div id="error-icon"></div>
                <div id="error-text"></div>
                <div id="error-button" class="button button-primary">Okay</div>
            </div>
        </div>
    </div>
    <div id="message-overlay" class="overlay">
        <div id="message" class="message">
            {% image '@PlantPathVDIFNBundle/Resources/public/img/close.png' %}
            <img id="message-overlay-close" class="close" src="{{ asset_url }}" alt="x">
            {% endimage %}
            <div id="message-overlay-inner">
            </div>
        </div>
    </div>
    <div id="severity-legend">
    </div>
    <div id="sidebar">
        <header>
            <div id="user-links"></div>
            <hgroup>
                <a id="plantpath-logo" href="http://www.plantpath.wisc.edu">UW-Madison Plant Pathology</a>
                <h1><span>Vegetable Disease &amp;</span><span>Insect Forecasting Network</span></h1>
            </hgroup>
        </header>
        <div id="options">
            <div class="inner">
                <fieldset id="crop">
                    <legend>Crop:</legend>
                    <select id="crop-select">
                        {% for slug, crop in crops %}
                        <option value="{{ slug }}">{{ crop }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <fieldset id="infliction">
                    <legend>Pest/Disease:</legend>
                    <select id="infliction-select">
                        {% for name, group in inflictions %}
                        <optgroup label="{{ name }}">
                            {% for slug, infliction in group %}
                            <option value="{{ slug }}">{{ infliction }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </fieldset>
                <fieldset id="datepicker">
                    <legend id="datepicker-legend">Dates:</legend>
                    <div class="datepicker-wrapper" id="datepicker-start-wrapper">
                        <input type="text" class="datepicker" id="datepicker-start">
                        <span class="datepicker-information" id="datepicker-start-information">?</span>
                    </div>
                    <div class="to" id="datepicker-to">to</div>
                    <div class="datepicker-wrapper" id="datepicker-end-wrapper">
                        <input type="text" class="datepicker" id="datepicker-end">
                        <span class="datepicker-information" id="datepicker-end-information">?</span>
                    </div>
                </fieldset>
                <input type="button" class="button button-primary" id="select" value="Select" />
            </div>
        </div>
        <footer>
            <div id="uw-group">
                <a id="uw-madison" href="http://www.wisc.edu">UW Madison</a>
                <a id="uw-extension" href="http://www.uwex.edu">UW Extension</a>
            </div>
            <div id="potato-field"></div>
        </footer>
    </div>
    <div id="map-canvas"></div>
{% endblock %}
