<h2 class="title">{{ station.name|title }}</h2>

<h3 class="information-title">Station Information</h3>
<div class="information">
    <div><strong>Call</strong>: {{ station.call }}</div>
    <div><strong>USAF</strong>: {{ station.usaf }}</div>
    <div><strong>WBAN</strong>: {{ station.wban }}</div>
    <div><strong>Elevation</strong>: {{ station.elevation }}</div>
</div>

<h3 class="weather-details-title">Last 5 DSVs</h3>
<div class="weather-details">
    {% if weather %}
    {% set dsvTotal = 0 %}
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>DSV</th>
                <th>Mean Temp.</th>
            </tr>
        </thead>
        <tbody>
        {% for day in weather %}
            {% set dsvTotal = dsvTotal + day.dsv %}
            <tr>
                <td>{{ day.time|date('n/j/Y') }}</td>
                <td>{{ day.dsv }}</td>
                <td>{{ day.meanTemperature|round(2) }}&deg;C</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total:</th>
                <td>{{ dsvTotal }}</td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    {% else %}
    <p style="text-align: center;">No data to display.</p>
    {% endif %}
</div>
